.header {
  .text-gradient {
    background: -o-linear-gradient(40deg, #fb3c00, #ffb800);
    background: linear-gradient(50deg, #fb3c00, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mapMarkerIcon {
    width: 1.5rem;
  }

  .searchIcon {
    width: 1rem;
  }

  .userIcon {
    width: 1rem;
  }

  .shadow-warning {
    -webkit-box-shadow: 0 0 3rem 0 rgb(255 179 14 / 30%) !important;
    box-shadow: 0 0 3rem 0 rgb(255 179 14 / 30%) !important;
  }
}
