.footer {
    .bg-1000 {
        background-color: #212121 !important;
    }
    .pt-7 {
        padding-top: 5rem !important;
    }
    .section {
        display: block;
    }
    .text-200 {
        color: #F5F5F5 !important;
    }
  }
  